.contact-info {
    .group {
        font-family: 'Dallas Bold', sans-serif;
        span {
            font-family: 'Gilmer Light', sans-serif;
            display: block;
        }
        a {
            text-decoration: underline;
        }
    }
}

@media (max-width: 992px) {
    .contact-info {
         margin-top: 25px;   
    }
}