.hero {
    background-image: url(../img/hero4.jpg);
    background-size: cover;
    background-position: center bottom;    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        font-size: 24px;
        font-family: 'Gilmer Light', sans-serif;
        margin-top: 20px;
    }
}
//
//.home-intro {
//    h2 {
//        font-family: 'Dallas Bold', sans-serif;
//        max-width: 340px; 
//    }
//}
//
//.intro-p-wrap {
//    padding-left: 80px;
//    a {
//        color: $black;
//    }
//}
//
//.vertical-line {
//    height: 250px;
//    width: 1px;
//    position: absolute;
//    background: $darkGrey;
//    top: -50px;
//    &.dropped {
//        margin-top: 35px;
//    }
//    &.right {
//        right: 10px;
//    }
//    &.left {
//        left: 10px;
//    }
//}
//
//.slider-section {
//    background-image: url(../img/woodbg.jpg);
//    background-size: cover;
//    color: $light;
//    h2 {
//        color: $light;
//    }
//    .recent-proj-view-all {
//        margin-bottom: 35px;
//    }
//}
//
//.recent-projects-slider {
//    border-left: 1px solid $light;
//    padding-left: 55px;   
//    h3 {
//        font-size: 21px;
//        margin: 0;
//    }
//    .slider-cat {
//        margin: 2px 0;
//        a {
//            color: $lightGrey;
//            font-size: 14px;
//            text-transform: uppercase;
//            font-family: "Gilmer Bold", sans-serif;
//        }
//    }
//    .single-table {
//        margin-right: 15px;
//    }
//}
//
//.arrows-inner {
//    display: flex;
//    width: 100%;
//    justify-content: center;
//    margin-top: 40px;
//    span {
//        &:hover {
//            cursor: pointer;
//        }
//    }
//    img {
//        width: 23px;
//        margin: 0 15px;
//    }
//}


.cta-connect {
    h3 {
        font-family: 'Gilmer Bold', sans-serif;
        letter-spacing: normal;
        font-size: 18px;
    }
}


.cta-connect-box {
    background: $lightGrey;
    padding: 80px;
    h2 {
        text-align: center;
    }
    .cta-sec {
        margin-bottom: 25px;
    }
}

.home-services {
//    background: $lightGrey;
    color: $black;
    h2 {
        color: $black;
    }
    ul.home-service-list {
        list-style-type: none;
        padding: 0;
        z-index: 1;
        li {
            margin-bottom: 10px;
            transition: 0.2s all;
            a {
                font-family: 'Dallas Bold', sans-serif;
                letter-spacing: -15%;
                color: $black;
                font-size: 48px;
                &:hover {
                    text-decoration: none;
                }
            }
//            &:hover {
//                margin-left: 12px;
//            }
        }
    }
    .default-link {
        color: $black;
    }
}

.home-service-hover-img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 0;
}

.social-insta {

}

.home-contact {
    background: $purple;
    color: $light;
    h2 {
        color: $light;
    }
    a {
        color: $light;
    }
    span {
        display: block;
        margin-bottom: 5px;
        i {
            width: 20px;
            margin-right: 8px;
            float: left;
            text-align: center;
            position: relative;
            top: 5px;
            font-size: 17px;
        }
    }
}

.home-contact-info {
    @include flex-height;
    margin-left: 75px;
}