#main-nav {
    background: $black;
    position: fixed;
    width: 100%;
    z-index: 999;
    >.container-fluid {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
img.nav-logo {
    width: 230px;
    padding: 10px;
}

.hamburgerMenu {
    float: right;
    margin: 0 0 !important; 
    background: 0 0;
    border: none;
    box-shadow: none;
    top: 13px;
    position: relative;
}