.tables-page {
    h2 {
        font-size: 42px;
    }
}
.sub-nav-tables {
    z-index: 9999;
}
.subNavSticky {
    position: fixed;
    top: 80px;
    width: 100%;
}
.sub-nav-tables-wrap {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    a {
        background: $purple;
        color: #fff;
        padding: 12px 2px;
        width: 20%;
        text-align: center;
        transition: 0.2s all;
        &.activeNav {
            background: darken($purple, 15%);
            color: #fff;
            text-decoration: none;
        }
        &:hover {
            background: darken($purple, 15%);
            color: #fff;
            text-decoration: none;
        }
    }
}

.single-forsale-item {
    img {
        margin-bottom: 12px;
    }
}
.single-blog-info {
    h3 {
        margin-bottom: 8px;
    }
    p {
        margin-bottom: 4px;
        border-bottom: 1px solid darken($light, 10%);
        &.price {
            color: $purple;
            margin-bottom: 0;
            font-family: 'Dallas Bold', sans-serif;
            border-bottom: none;
        }
    }
}
